body{

}


.father-container{
    display: none;
    width: 100%;
}
#header-nav>li>a{
    padding:7px 7px
}
.user-img{
    width:220px;
}
.user-details{
    /*border-top:1px solid #eee;*/
    /*border-bottom:1px solid #0a03ff;*/
    /*margin: 16px 0;*/
    padding:16px 0;
    /*border-bottom:1px solid #eee;*/
}
.location{
    /*max-width: 120px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}
.email{
    /*max-width: 120px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}
.star-main{

    margin-top: 10px;
}
.main-right{
    padding: 0 0 10px 0;
    background-color: #f2f2f2;
    border-top:1px solid #eee;
}
.footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top: 1px solid #eee;
}

/*
article
 */
.article-gallery { margin: 1em auto; }
.article-gallery a{
    display:inline-block;
    width: 33.3333%;
    float: left;
}
.article-gallery img {
    display: block;
    width: 100%;
    cursor: -webkit-zoom-in;
    cursor: zoom-in; }

.article-wrap{
    padding:1px 10px;
    margin-top: 10px;
    background-color:#fff;
}

.article-wrap h2{
    margin-top:10px;
}