
.father-container{
    display: none;
    width: 100%;
}
#header-nav>li>a{
    padding:7px 7px
}
.user-img{
    width:220px;
}
.user-details{
    /*border-top:1px solid #eee;*/
    /*border-bottom:1px solid #0a03ff;*/
    /*margin: 16px 0;*/
    padding:16px 0;
    /*border-bottom:1px solid #eee;*/
}
.location{
    /*max-width: 120px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}
.email{
    /*max-width: 120px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}
.star-main{
    margin-top: 10px;
}
.main-right{
    padding: 0 28px;
    border-top:1px solid #eee;
}
.footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top: 1px solid #eee;
}

/*
article
 */
.article-gallery {
    width:360px;
    margin: 1em auto; }
.article-gallery > ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
.article-gallery > ul:before, .article-gallery > ul:after {
    content: " ";
    display: table; }
.article-gallery > ul:after {
    clear: both; }
.article-gallery > ul > li {
    float: left;
    width: 33.33333%;
    overflow: hidden;
    background-color: #fcfcfc;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff; }
.article-gallery > ul > li > img {
    display: block;
    width: 100%;
    cursor: -webkit-zoom-in;
    cursor: zoom-in; }