body {
  background-color: #fcfcfc; }

figure {
  margin: 1em 0; }

figure pre {
  margin-bottom: 0; }

.browserupgrade,
.skiplink {
  display: block;
  margin-bottom: 0;
  padding: .5em 1em;
  text-align: center; }

.container {
  max-width: 640px; }

.header {
  margin-bottom: 1em;
  line-height: 3em;
  background-color: #fff; }

.brand {
  float: left;
  display: block;
  width: 3.5em;
  height: 3.5em;
  padding: .75em;
  background-color: #fcfcfc;
  border-radius: 50%;
  text-align: center; }
  .brand img {
    display: block;
    width: 2em;
    height: 2em; }

.card-link > strong {
  font-weight: normal;
  color: #111; }

.article-title i {
  font-size: 80%;
  margin-left: .5em; }

.article-attrs {
  font-size: 87.5%;
  color: #aaa; }
  .article-attrs span + span {
    margin-left: 1em; }
  .article-attrs i {
    margin-right: .5em; }
  .article-attrs a {
    color: #aaa; }
    .article-attrs a + a {
      margin-left: .5em; }

.article-gallery {
  margin: 1em auto; }
  .article-gallery > ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
    .article-gallery > ul:before, .article-gallery > ul:after {
      content: " ";
      display: table; }
    .article-gallery > ul:after {
      clear: both; }
    .article-gallery > ul > li {
      float: left;
      width: 33.33333%;
      overflow: hidden;
      background-color: #fcfcfc;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff; }
      .article-gallery > ul > li > img {
        display: block;
        width: 100%;
        cursor: -webkit-zoom-in;
        cursor: zoom-in; }

.footer,
.footer a {
  font-size: 14px;
  color: #aaa; }

.pagination a {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.about {
  max-width: 400px;
  margin: auto;
  text-align: center; }

.avatar {
  display: block;
  width: 10em;
  height: 10em;
  margin: 1.5em auto;
  overflow: hidden;
  background: #fcfcfc url(/img/logo.png) no-repeat center center;
  border-radius: 50%; }
  .avatar > img {
    width: inherit;
    height: inherit; }
