---
layout: category
title: Photos-HuangChanghuan.com
---
{% for category in site.categories %}
{% if  category[0]=='photos' %}
{% for post in category.last %}
<article class="card article">
    <h2 class="article-title"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h2>
    <p class="article-attrs">
        <span><i class="fa fa-clock-o"></i>{{ post.date | date_to_string }}</span>
        <span><i class="fa fa-book"></i><a href="/categories/photos">{{category[0]}}</a></span>
    </p>
    {{ post.excerpt }}
    {{ post.description }}
</article>
{% endfor %}
{% endif %}
{% endfor %}