---
layout: category
title: MyProjects
---
    {% for category in site.categories %}
            {% if  category[0]=='projects' %}
                {% for post in category.last %}
                    <article class="card article">
                        <h4 class="article-title"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h4>
                        <p class="article-attrs">
                            <span><i class="fa fa-clock-o"></i>{{ post.date | date_to_string }}</span>
                            <span><i class="fa fa-book"></i><a href="/categories/projects">Projects</a></span>
                        </p>
                        {{ post.excerpt }}
                        {{ post.description }}
                    </article>
                {% endfor %}
            {% endif %}
    {% endfor %}
