<!--<div id="footer" class="footer">-->


<!--</div>-->


<div class="footer container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="list-inline text-right">
            <li><a href="https://github.com/huangchanghuan" title="GitHub"><i class="fa fa-github"></i><span class="">GitHub</span></a></li>
            <li><a href="https://twitter.com/changhuanhuang" title="Twitter"><i class="fa fa-twitter"></i><span class="">Twitter</span></a></li>
            </ul>
            <p class="text-right">&copy; 2016 <a href="https://huangchanghuan.github.io/">Huang Changhuan</a></p>
        </div>
    </div>
</div>