<!DOCTYPE html>
<html lang="en">
<head>
    {% include sunstar-head.html %}
</head>
<body>
<div style="display:none;"><img src="/img/share.jpg" alt=""></div>
<div class="container father-container">


    <!--<embed src=" http://127.0.0.1:4000/music/abc.m4a" autostart="true" loop="true"></embed>-->

    <!--header-->
    {% include sunstar-header.html %}
    <!--main-->
    {% include sunstar-main-archive.html %}
    <!--foot-->
    {% include sunstar-foot.html %}
    {% include sunstar-photoswipe.html %}
</div>
</body>
<script src="/js/main.js"></script>
<script src="/js/photoSwipes-style.js"></script>
<script src="/js/isPC.js"></script>
</html>