<!DOCTYPE html>
<html lang="en">
<head>
    {% include sunstar-head.html %}
    <link href="/css/category.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <!--[if lt IE 9]>
    <p class="browserupgrade">
        <span class="container">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</span>
    </p>
    <![endif]-->
    <!--header-->
    {% include sunstar-header.html %}
    <!--main-->
    {% include sunstar-main-right.html %}
    <!--foot-->
    {% include sunstar-foot.html %}
</div>
</body>
<script src="/js/isPC.js"></script>
</html>