<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The official website of Huang Changhuan.">
    <meta name="keywords" content="Huang Changhuan, huangchanghuan, huangchanghuan.com, Changhuan Huang, changhuanhuang, web designer, web developer">
    <meta name="author" content="Huang Changhuan">
    <title>huangchanghuan.com</title>
    <link rel="icon" href="/favicon.ico">
    <link href="https://cdn.rawgit.com/fortawesome/font-awesome/v4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/fengyuanchen/simpleui/v0.1.1/dist/simple.min.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/fengyuanchen/viewerjs/v0.4.0/dist/viewer.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<!--[if lt IE 9]>
<p class="browserupgrade">
    <span class="container">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</span>
</p>
<![endif]-->
<a href="#content" class="visuallyhidden focusable skiplink"><span class="container">Skip to main content</span></a>
<header id="header" class="header">
    <div class="container">
        <a href="/" title="huangchanghuan.com" class="brand"><img src="/img/logo.png" alt="Logo"></a>
        <nav class="nav nav-inline float-right">
            <a href="/" class="nav-link active">Home</a>
            <a href="/archives/" class="nav-link">Archives</a>
            <a href="/about.html" class="nav-link">About</a></nav>
    </div>
</header>
<main id="content" class="content">
    <div class="container">
        {{ content }}
    </div>
</main>
<footer id="footer" class="footer">
    <div class="container"><p class="float-left">&copy; 2016 <a href="http://huangchanghuan.com">Huang Changhuan</a></p>
        <ul class="inline float-right">
            <li><a href="https://github.com/fengyuanchen" title="GitHub"><i class="fa fa-github"></i><span class="visuallyhidden">GitHub</span></a></li>
            <li><a href="https://twitter.com/fengyuanchen" title="Twitter"><i class="fa fa-twitter"></i><span class="visuallyhidden">Twitter</span></a></li>
            <li><a href="https://facebook.com/fengyuanchan" title="Facebook"><i class="fa fa-facebook"></i><span class="visuallyhidden">Facebook</span></a></li>
            <li><a href="/atom.xml" title="Feed"><i class="fa fa-feed"></i><span class="visuallyhidden">Feed</span></a></li>
        </ul>
    </div>
</footer>
<script src="https://cdn.rawgit.com/fengyuanchen/viewerjs/v0.4.0/dist/viewer.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>