<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The official website of Huang Changhuan.">
    <meta name="keywords" content="Huang Changhuan, huangchanghuan, huangchanghuan.com, Changhuan Huang, changhuanhuang, web designer, web developer">
    <meta name="author" content="Huang Changhuan">
    <title>{{ page.title }}</title>
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js"></script>
    <link href="https://cdn.rawgit.com/fortawesome/font-awesome/v4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
<!--[if lt IE 9]>
<p class="browserupgrade">
    <span class="container">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</span>
</p>
<![endif]-->
    <!--header-->
    <div id="header" class="header clearfix">
        <nav>
            <ul class="nav nav-pills">
                <li role="presentation" {% if page.title=='Home-HuangChanghuan.com' %}class="active"{% endif %}><a href="https://huangchanghuan.github.io/">Home</a></li>
                <li role="presentation"   {% if page.category=='projects' %}class="active"{% endif %}{% if page.title=='MyProjects-HuangChanghuan.com' %}class="active"{% endif %}><a href="https://huangchanghuan.github.io/categories/projects">Project</a></li>
                <li role="presentation"  {% if page.category=='photos' %}class="active"{% endif %}{% if page.title=='MyPhotos-HuangChanghuan.com' %}class="active"{% endif %}><a href="https://huangchanghuan.github.io/categories/photos">Photo</a></li>
                <li role="presentation" {% if page.title=='About-HuangChanghuan.com' %}class="active"{% endif %}><a href="https://huangchanghuan.github.io/about">About</a></li>
            </ul>
        </nav>
    </div>
<!--main-->
<div id="content" class="row clearfix star-main">
    <!--main left-->
    <div class="col-md-3 column">
        <img alt="220x220" src="http://www.runoob.com/try/bootstrap/layoutit/v3/default3.jpg" class="img-rounded center-block user-img"/>
        <div  class="center-block">
            <div class="user_name center-block">
            <h3 class="text-center">Huang Changhuan</h3>
            <span class="text-center center-block">Web Development</span>
            </div>
            <ul class="list-unstyled user-details">
                <li class="email text-center"><i class="fa fa-envelope"></i><a href="mailto:CHANGHUAN.HUANG@foxmail.com">changhuan.huang@fox.com</a></li>
                <li class="location text-center"><i class="fa fa-location-arrow"></i>Guangzhou,Guangdong Province</li>
            </ul>
        </div>
    </div>
    <!--main right-->
    <div class="col-md-9 column main-right">
        {{content}}
    </div>
</div>
<!--foot-->
<div id="footer" class="footer">
        <ul class="list-inline text-center">
            <li><a href="https://github.com/huangchanghuan" title="GitHub"><i class="fa fa-github"></i><span class="">GitHub</span></a></li>
            <li><a href="https://twitter.com/Peter2464375449" title="Twitter"><i class="fa fa-twitter"></i><span class="">Twitter</span></a></li>
        </ul>
        <p class="text-center">&copy; 2016 <a href="https://huangchanghuan.github.io/">Huang Changhuan</a></p>
</div>
</div>
</body>
</html>