<!DOCTYPE html>
<html lang="en">
<head>
    {% include sunstar-head.html %}
</head>
<body>
<div class="container father-container">
    <embed src="/music/童话镇.mp3" autostart="true" loop="true" hidden="true"  >
    <!--[if lt IE 9]>
    <p class="browserupgrade">
        <span class="container">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</span>
    </p>
    <![endif]-->
    <!--header-->
    {% include sunstar-header.html %}
    <!--main-->
    {% include sunstar-main.html %}
    <!--foot-->
    {% include sunstar-foot.html %}
    {% include sunstar-photoswipe.html %}
</div>
</body>
<script src="/js/main.js"></script>
<script src="/js/photoSwipes-style.js"></script>
<script src="/js/isPC.js"></script>
</html>